
/* Have fun with the styling! :) */

h1 {
    display: flex;
    justify-content: center;
}
/* Have fun with the styling! :) */
#numbers {
    color: rgb(65, 23, 232);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 20%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.results {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;

}

.space {
    margin: 20px;
}

.button-container {
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}